<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Filters</h1>
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-ios-close-outline" ng-click="hideFilters()">
        close
      </button>
    </ion-nav-buttons>
  </ion-header-bar>
  <ion-content style="margin-top: 100px;" has-header>
    <ion-list>
      <ion-item>
        <button class="button button-block button-assertive"
                ng-click="hideFilters()">
          Search
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
