<ion-view>
  <ion-nav-title translate="SETTINGS_TITLE" class="item-color-assertive">
    Settings
  </ion-nav-title>
  <ion-content on-swipe-right="goBack()" class="fade">

    <div class="list card">

      <div class="item item-divider">
        <span translate="SETTINGS_PREFERENCES"></span>
      </div>

      <label class="item item-input item-select">
        <div class="input-label">
          <span translate="SETTINGS_LANGUAGE"></span>
        </div>
        <select ng-controller="TranslateCtrl" ng-change="changeLang(language)" ng-model="language">
          <option value="en">English</option>
          <option value="nl">Nederlands</option>
          <option value="fr">Français</option>
          <option value="es">Español</option>
          <option value="de">Deutsch</option>
        </select>
      </label>

    </div>

    <div class="list card">

      <div class="item item-divider">
        <span translate="INFORMATION">Information</span>
      </div>
      <a class="item item-icon-left" ui-sref="tab.about">
        <i class="icon ion-ios-information-outline"></i>
        <span translate="ABOUT_US">About us</span>
      </a>
      <a class="item item-icon-left" ui-sref="tab.about">

      </a>

    </div>

    <div class="list card">

      <div class="item item-divider">
        <span translate="EXTRA">Extra</span>
      </div>
      <div class="item item-icon-left text-continue-next-line"
           ng-click="openInAppBrowser('http://www.medihoo.com/Disclaimer')">
        <i class="icon ion-ios-locked-outline"></i>
        <span translate="DISCLAIMER">Disclaimer</span>
      </div>
      <div class="item item-icon-left text-continue-next-line"
           ng-click="openInAppBrowser('http://www.medihoo.com/Privacy_policy')">
        <i class="icon ion-ios-body-outline"></i>
        <span translate="PRIVACY_POLICY">Privacy policy</span>
      </div>
      <div class="item item-icon-left text-continue-next-line">
        <i class="icon ion-ios-heart-outline"></i>
        <span translate="RATE_APP">Rate this app</span>
      </div>
      <div class="item item-icon-left text-continue-next-line"
           ng-click="sendEmailToMediHoo()">
        <i class="icon ion-ios-chatbubble-outline"></i>
        <span translate="BUG_OR_SUGGESTION">Report a bug or make a suggestion</span>
      </div>

    </div>

  </ion-content>
</ion-view>
