<ion-view>
  <ion-nav-title translate="SEARCH_TITLE" class="item-color-assertive">
    Search
  </ion-nav-title>
  <ion-content on-swipe-right="goBack()" on-swipe-left="goForward()" class="fade">
    <div class="list card">
      <div class="item item-divider">
        <span translate="WHAT">What</span>?
      </div>

      <label class="item item-input item-select" style="width: 100%;
  padding: 0 12px;
  min-width: 52px;
  min-height: 47px;">
        <div class="input-label">
          <span translate="CLASSIFICATION">Classification</span>
        </div>
        <select ng-model="searchOptions.classification">
          <option value='' translate="ALL">All</option>
          <option ng-repeat="item in classifications" value="{{item.code}}"
                  ng-selected="searchOptions.classification == item.code" ng-bind="item.type">
          </option>
        </select>
      </label>

      <div ng-show="searchOptions.classification != '' && searchOptions.classification != null">
        <input type="text" ng-model="searchOptions.specialization"
               placeholder="{{'SPECIALIZATION_PLACEHOLDER' | translate}}"
               uib-typeahead="specialization
             as specializationLabel(specialization)
             for specialization in getSpecializations($viewValue)"
               typeahead-loading="loadingSpecializations" typeahead-no-results="noSpecializations"
               typeahead-popup-template-url="customPopupTemplate.html"
               style="width: 100%;
                    padding: 0 16px;
                    min-width: 52px;
                    min-height: 47px;
                    margin-top: 1px;">
        <i ng-show="loadingSpecializations" class="glyphicon glyphicon-refresh"></i>

        <div ng-show="noSpecializations">
          <i class="glyphicon glyphicon-remove"></i> <span translate="NO_SPECIALIZATIONS">No Specializations Found</span>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        <span translate="WHERE">Where</span>?
      </div>
      <ion-toggle ng-model="useGeoLocation.checked" ng-checked="useGeoLocation.checked"
                  toggle-class="toggle-assertive" ng-change="geoLocationChanged()">
        <span translate="USE_CURRENT_LOCATION">Use current location</span>
      </ion-toggle>
      <div ng-show="!useGeoLocation.checked">
        <ion-input class="item" style="padding: 0; margin-top: 1px;">
          <input type="text" ng-model="searchOptions.country"
                 placeholder="{{'COUNTRY_PLACEHOLDER' | translate}}"
                 uib-typeahead="country as country.Name for country in getCountries($viewValue)"
                 typeahead-loading="loadingLocations" typeahead-no-results="noLocations"
                 typeahead-popup-template-url="customPopupTemplate.html"
                 style="width: 100%;
                    padding: 0 16px;
                    min-width: 52px;
                    min-height: 47px;">
          <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

          <div ng-show="noLocations">
            <i class="glyphicon glyphicon-remove"></i> <span translate="NO_COUNTRIES">No Countries Found</span>
          </div>
        </ion-input>

        <div ng-show="searchOptions.country != null" class="item" style="padding: 0;">
          <input type="text" ng-model="searchOptions.city"
                 placeholder="{{'CITY_PLACEHOLDER' | translate}}"
                 uib-typeahead="city as city.Name for city in getCities($viewValue)"
                 typeahead-loading="loadingCities" typeahead-no-results="noCities"
                 typeahead-popup-template-url="customPopupTemplate.html"
                 style="width: 100%;
                    padding: 0 16px;
                    min-width: 52px;
                    min-height: 47px;">
          <i ng-show="loadingCities" class="glyphicon glyphicon-refresh"></i>

          <div ng-show="noCities">
            <i class="glyphicon glyphicon-remove"></i> <span translate="NO_CITIES">No Cities Found</span>
          </div>
        </div>
      </div>
      <div ng-show="useGeoLocation.checked || cityIsSpecified">
        <ion-item class="item range range-assertive custom-top-border" style="margin-top: 1px;">
          <input type="range" name="volume" min="5" max="100" ng-model="searchOptions.distance" on-tap="onTap($event)" on-drag="onTap($event)">
          <span ng-bind="searchOptions.distance"></span><span> km</span>
        </ion-item>
      </div>
    </div>

    <div class="list list-inset">
      <button class="button button-block button-assertive"
              ng-click="showResults()" translate="SEARCH_BTN">
        Search
      </button>
    </div>
  </ion-content>
</ion-view>
<script type="text/ng-template" id="customPopupTemplate.html">
  <div class="custom-popup-wrapper"
       ng-style="{top: position().top+'px', left: position().left+'px'}"
       style="display: block;"
       ng-show="isOpen() && !moveInProgress"
       aria-hidden="{{!isOpen()}}">
    <ul class="dropdown-menu" role="listbox">
      <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
          ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
    </ul>
  </div>
</script>s
