<ion-view view-title="{{'SETTINGS_TITLE' | translate}}">
  <ion-content on-swipe-right="goBack()" class="fade">
    <div class="list card">

      <div class="item item-divider">
        <span translate="SETTINGS_PREFERENCES"></span>
      </div>

      <label class="item item-input item-select">
        <div class="input-label">
          <span translate="SETTINGS_LANGUAGE"></span>
        </div>
        <select ng-controller="TranslateCtrl" ng-change="changeLang(language)" ng-model="language">
          <option value="en">English</option>
          <option value="nl">Nederlands</option>
          <option>Français</option>
        </select>
      </label>

      <!--<div class="item item-toggle">
        <h2>
          Use Location
        </h2>
        <label class="toggle toggle-assertive">
          <input type="checkbox" checked>

          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>-->

    </div>

    <div class="list card">
      <div class="item item-divider">
        Information
      </div>
      <a class="item item-icon-left" ui-sref="tab.about">
        <i class="icon ion-ios-information-outline"></i>
        About us
      </a>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Extra
      </div>
      <span class="item item-icon-left" ng-click="openInAppBrowser('http://www.medihoo.com/Disclaimer')">
        <i class="icon ion-ios-locked-outline"></i>
        Disclaimer
      </span>
      <span class="item item-icon-left" ng-click="openInAppBrowser('http://www.medihoo.com/Privacy_policy')">
        <i class="icon ion-ios-body-outline"></i>
        Privacy policy
      </span>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-heart-outline"></i>
        Rate this app
      </a>
      <span class="item item-icon-left" ng-click="sendEmail('test@test.be')">
        <i class="icon ion-ios-chatbubble-outline"></i>
        Report a bug or make a suggestion
      </span>
    </div>
  </ion-content>
</ion-view>
