<ion-view view-title="{{'HOME_TITLE' | translate}}">
  <ion-content on-swipe-left="goForward()" class="fade">

    <div class="row">
      <div class="col col-50 col-offset-25">
        <img style="width: 100%" src="./img/Medihoo_big_logo.png">
      </div>
    </div>

    <div class="list card margin-top-0">
      <div class="item item-divider">
        <span translate="HISTORY">History</span>
      </div>
      <a class="item" ui-sref="tab.secundary">
        <span translate="SHOW_ALL">Show all</span>
      </a>
    </div>

    <div ng-include="'./templates/favourite-list.html'"></div>


  </ion-content>
</ion-view>
