<ion-view view-title="Search">
  <ion-content on-swipe-right="swipeTo('home')" on-swipe-left="swipeTo('about')">
    <div class="list card">
      <div class="item item-divider">
        <span>What?</span>
      </div>

      <label class="item item-input item-select" style="width: 100%;
  padding: 0 12px;
  min-width: 52px;
  min-height: 47px;">
        <div class="input-label">
          <span>Classification</span>
        </div>
        <select ng-model="searchOptions.classification">
          <option value=''>All</option>
          <option ng-repeat="item in classifications" value="{{item.code}}"
                  ng-selected="searchOptions.classification == item.code" ng-bind="item.type">
          </option>
        </select>
      </label>

      <div ng-show="searchOptions.classification != '' && searchOptions.classification != null">
        <input type="text" ng-model="searchOptions.specialization" placeholder="Search a specialization"
               uib-typeahead="specialization
             as specializationLabel(specialization)
             for specialization in getSpecializations($viewValue)"
               typeahead-loading="loadingSpecializations" typeahead-no-results="noSpecializations"
               typeahead-popup-template-url="customPopupTemplate.html"
               style="width: 100%;
                    padding: 0 16px;
                    min-width: 52px;
                    min-height: 47px;
                    margin-top: 1px;">
        <i ng-show="loadingSpecializations" class="glyphicon glyphicon-refresh"></i>

        <div ng-show="noSpecializations">
          <i class="glyphicon glyphicon-remove"></i> No Specializations Found
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        <span>Where?</span>
      </div>
      <ion-toggle ng-model="useGeoLocation.checked" ng-checked="useGeoLocation.checked"
                  toggle-class="toggle-assertive" ng-change="geoLocationChanged()">
        <span ng-bind="useGeoLocation.text"></span>
      </ion-toggle>
      <div ng-show="useGeoLocation.checked">
        <ion-item class="item range range-assertive">
          <input type="range" name="volume" min="5" max="100" ng-model="searchOptions.distance">
          <span ng-bind="searchOptions.distance"></span><span> km</span>
        </ion-item>
      </div>

      <div ng-show="!useGeoLocation.checked">
        <div class="item" style="padding: 0; margin-top: 1px;">
          <input type="text" ng-model="searchOptions.country" placeholder="Find a country"
                 uib-typeahead="country as country.Name for country in getCountries($viewValue)"
                 typeahead-loading="loadingLocations" typeahead-no-results="noLocations"
                 typeahead-popup-template-url="customPopupTemplate.html"
                 style="width: 100%;
                    padding: 0 16px;
                    min-width: 52px;
                    min-height: 47px;">
          <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

          <div ng-show="noLocations">
            <i class="glyphicon glyphicon-remove"></i> No Locations Found
          </div>
        </div>

        <div ng-show="searchOptions.country != null" class="item" style="padding: 0;">
          <input type="text" ng-model="searchOptions.city" placeholder="Find a city"
                 uib-typeahead="city as city.Name for city in getCities($viewValue)"
                 typeahead-loading="loadingCities" typeahead-no-results="noCities"
                 typeahead-popup-template-url="customPopupTemplate.html"
                 style="width: 100%;
                    padding: 0 16px;
                    min-width: 52px;
                    min-height: 47px;">
          <i ng-show="loadingCities" class="glyphicon glyphicon-refresh"></i>

          <div ng-show="noCities">
            <i class="glyphicon glyphicon-remove"></i> No Cities Found
          </div>
        </div>
      </div>
    </div>

    <div class="list list-inset">
      <button class="button button-block button-assertive"
              ng-click="showResults()">
        Search
      </button>
    </div>
  </ion-content>
</ion-view>
<script type="text/ng-template" id="customPopupTemplate.html">
  <div class="custom-popup-wrapper"
       ng-style="{top: position().top+'px', left: position().left+'px'}"
       style="display: block;"
       ng-show="isOpen() && !moveInProgress"
       aria-hidden="{{!isOpen()}}">
    <ul class="dropdown-menu" role="listbox">
      <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
          ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
    </ul>
  </div>
</script>
