<ion-view view-title="Favourites">
  <ion-content on-swipe-left="goForward()" class="fade">
    <div class="list card">
      <div class="item item-divider">
        <span>Favourites</span>
      </div>
      <!--<p class="item text-continue-next-line" ng-repeat="elem in searchHistory track by $index"
         ng-click="navigateToResultList(elem)">
        <span ng-bind="elem.textualRepresentation"></span>
      </p>-->

      <p class="item">
        <span>None</span>
      </p>
    </div>


  </ion-content>
</ion-view>
