<ion-view>
  <ion-nav-title translate="HEALTHPROVIDERS_TITLE" class="item-color-assertive">
    Settings
  </ion-nav-title>
  <ion-content on-swipe-right="goBack()" class="fade">
    <div class="box" id="information-page">
      <div class="card">

        <p class="item item-divider">
          MEDIHOO
        </p>

        <p class="item text-continue-next-line landingpage-orange-on-white-bg landingpage-bolder-text"
           translate="HEALTHPROVIDERS_HEAD_TITLE">
        </p>

        <p class="item text-continue-next-line landingpage-orange-bg" translate="LANDINGPAGE_HEAD_SUBTITLE">
        </p>
      </div>

      <div class="card">
        <p class="item dark-bg text-continue-next-line italic-text white-text" translate="HEALTHPROVIDERS_SECTION_3_TITLE">
        </p>
        <div class="item dark-bg text-continue-next-line">
          <span class="white-text" translate="HEALTHPROVIDERS_SECTION_3_PHRASE_1"></span> <span class="orange-text"
                                                                                                translate="HEALTHPROVIDERS_SECTION_3_PHRASE_2"></span>
          <span class="white-text" translate="HEALTHPROVIDERS_SECTION_3_PHRASE_3"></span>
        </div>
        <div class="item dark-bg">
          <button class="button button-block button-assertive" translate="HEALTHPROVIDERS_SIGN_UP"
                  ng-click="openInAppBrowser('http://www.medihoo.com/en-US/Accounts/register?type=provider')">
          </button>
        </div>
      </div>

      <div class="card">

        <div class="item item-divider">
          <span translate="LANDINGPAGE_SECTION_1_TITLE_1"></span> <span class="orange-text"
                                                                        translate="LANDINGPAGE_SECTION_1_TITLE_2"></span>
          <span translate="LANDINGPAGE_SECTION_1_TITLE_3"></span>
        </div>

        <p class="item item-text-wrap item-icon-left">
          <i class="icon ion-ios-checkmark-outline item-color-assertive"></i>
          <span translate="HEALTHPROVIDERS_SECTION_1_REASON_1"></span>
        </p>
        <p class="item item-text-wrap item-icon-left">
          <i class="icon ion-ios-checkmark-outline item-color-assertive"></i>
          <span translate="HEALTHPROVIDERS_SECTION_1_REASON_2"></span>
        </p>
        <p class="item item-text-wrap item-icon-left">
          <i class="icon ion-ios-checkmark-outline item-color-assertive"></i>
          <span translate="HEALTHPROVIDERS_SECTION_1_REASON_3"></span>
        </p>
        <p class="item item-text-wrap item-icon-left">
          <i class="icon ion-ios-checkmark-outline item-color-assertive"></i>
          <span translate="HEALTHPROVIDERS_SECTION_1_REASON_4"></span>
        </p>
        <p class="item item-text-wrap item-icon-left">
          <i class="icon ion-ios-checkmark-outline item-color-assertive"></i>
          <span translate="HEALTHPROVIDERS_SECTION_1_REASON_5"></span>
        </p>
      </div>

      <div class="card">
        <div class="item item-divider">
          <span translate="HEALTHPROVIDERS_SECTION_2_TITLE_1"></span> <span class="orange-text"
                                                                            translate="HEALTHPROVIDERS_SECTION_2_TITLE_2"></span>!
        </div>

        <p class="item text-continue-next-line" translate="HEALTHPROVIDERS_SECTION_2_PHRASE"></p>

        <p class="item item-text-wrap item-icon-left">
          <i class="icon ion-ios-checkmark-outline item-color-assertive"></i>
          <span translate="HEALTHPROVIDERS_SECTION_2_REASON_1"></span>
        </p>
        <p class="item item-text-wrap item-icon-left">
          <i class="icon ion-ios-checkmark-outline item-color-assertive"></i>
          <span translate="HEALTHPROVIDERS_SECTION_2_REASON_2"></span>
        </p>
        <p class="item item-text-wrap item-icon-left">
          <i class="icon ion-ios-checkmark-outline item-color-assertive"></i>
          <span translate="HEALTHPROVIDERS_SECTION_2_REASON_3"></span>
        </p>
        <p class="item item-text-wrap item-icon-left">
          <i class="icon ion-ios-checkmark-outline item-color-assertive"></i>
          <span translate="HEALTHPROVIDERS_SECTION_2_REASON_4"></span>
        </p>
        <p class="item item-text-wrap item-icon-left">
          <i class="icon ion-ios-checkmark-outline item-color-assertive"></i>
          <span translate="HEALTHPROVIDERS_SECTION_2_REASON_5"></span>
        </p>
      </div>

      <div class="card">
        <div class="item item-divider">
          <span translate="HEALTHPROVIDERS_SECTION_4_TITLE"></span>
        </div>

        <p class="item item-text-wrap">
          <span translate="HEALTHPROVIDERS_SECTION_4_PHRASE"></span>
        </p>

        <p class="item item-text-wrap item-icon-left">
            <i class="icon ion-ios-checkmark-outline item-color-assertive"></i>
            <span translate="HEALTHPROVIDERS_SECTION_4_REASON_1"></span>
        </p>
        <p class="item item-text-wrap item-icon-left">
            <i class="icon ion-ios-checkmark-outline item-color-assertive"></i>
            <span translate="HEALTHPROVIDERS_SECTION_4_REASON_2"></span>
        </p>
        <p class="item item-text-wrap item-icon-left">
            <i class="icon ion-ios-checkmark-outline item-color-assertive"></i>
            <span translate="HEALTHPROVIDERS_SECTION_4_REASON_3"></span>
        </p>
      </div>

      <div class="card">
        <div class="item item-icon-left dark-bg orange-text"
             ng-click="openInAppBrowser('http://www.medihoo.com/en-US/Providers')">
          <i class="icon ion-ios-world-outline"></i>
          <span>More information on our website</span>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
