<ion-view view-title="Home">
  <ion-content on-swipe-left="swipeTo('search')">
    <div class="row">
      <div class="col col-80 col-offset-10">
        <img style="width: 100%" src="./img/Medihoo_big_logo.png">
      </div>
    </div>
    <!--<div class="row" style="margin-top: 25px;">
      <div class="col col-33 col-offset-10 home-page-tile">
        <img src="./img/types/Hospital.png">
      </div>
      <div class="col col-33 col-offset-10 home-page-tile">
        <img src="./img/types/Dental.png">
      </div>
    </div>
    <div class="row" style="margin-top: 25px;">
      <div class="col col-33 col-offset-10 home-page-tile">
        <img src="./img/types/pharmacy.png">
      </div>
      <div class="col col-33 col-offset-10 home-page-tile">
        <img src="./img/types/nurse.png">
      </div>
    </div>-->

    <div class="row" style="margin-top: 25px;">
      <div class="col col-33 col-offset-10">
        <div ng-click="navigateToSearch('HOSP')">
          <img class="home-page-tile" src="./img/types/Hospital-orange.png">
        </div>
      </div>
      <div class="col col-33 col-offset-10">
        <div ng-click="navigateToSearch('DENP')">
          <img class="home-page-tile" src="./img/types/Dental-orange.png">
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 25px;">
      <div class="col col-33 col-offset-10">
        <div ng-click="navigateToSearch('PHAS')">
          <img class="home-page-tile" src="./img/types/pharmacy-orange.png">
        </div>
      </div>
      <div class="col col-33 col-offset-10">
        <div ng-click="navigateToSearch('NSPR')">
          <img class="home-page-tile" src="./img/types/nurse-orange.png">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
