<ion-tabs class="tabs-striped tabs-color-assertive">
  <ion-tab title="{{'HOME_TITLE' | translate}}" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="tab.home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="{{'SEARCH_TITLE' | translate}}" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" ui-sref="tab.search"
    class="main-tab">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>
  <ion-tab title="{{'SETTINGS_TITLE' | translate}}" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>
