/* Empty. Add your own CSS if you like */
.dropdown-menu {
  padding-left: 15px;
  margin-top: 10px;
}

.confirm-button-fixed-bottom {
  position: fixed;
  bottom: 50px;
}

.result-rating span {
  display: none;
}

ion-content {
  background-image: url('../img/stripe-30opac.png');
}

.item-icon-left-large {
  padding-left: 64px;
}

h1.about-page-heading {
  color: #56646e;
  text-align: center;
  font-size: 29px;
  margin: 10px 10px 0 10px;
}

.ion-slide-icon-left-large > .box > .card > .item {
  font-size: 12px;
}

/*.about-page-heading span {
  color: #f48231;
}*/

.orange-text, #information-page i.icon-accessory {
  color: #f48231;
}

.about-page-subheading {
  color: #f48231;
}

.home-page-tile {
  width: 100%;
}

div label .search-item, div input .search-item {
  width: 100%;
  padding: 0 12px;
  min-width: 52px;
  min-height: 47px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #f48231;
}

.round-border-radius {
  border-radius: 4px;
}

.margin-top-12 {
  margin-top: 12px;
}

.margin-top-0 {
  margin-top: 0;
}

.round-border-radius-top {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.round-border-radius-bottom {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.hidden-button {
  display: none;
}

.item-divider {
  background-color: rgba(244, 130, 49, 0.34);
}

.tabs > a.main-tab {
  background-color: rgba(244, 130, 49, 0.50) !important;
}

.tabs > a.main-tab.tab-item-active {
  background-color: #f48231 !important;
}

a.main-tab > i.icon {
  color: white;
  font-size: 48px;
  margin-top: -2px;
}

.text-continue-next-line {
  white-space: initial;
}

.custom-top-border {
  border-top: 1px solid #ddd !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.item-color-assertive, .btn-color-assertive {
  color: #f48231 !important;
}

.span-new-line {
  display: block;
}

ion-slide.ion-slide-icon-left-large > div.box > div.card > p {
  padding-left: 85px;
}

ion-slide.ion-slide-icon-left-large > div.box > div.card > p > img {
  left: 0;
}

@-webkit-keyframes fade {
  0% {
    /*-webkit-transform: translate3d(-100%,0,0);*/
    opacity: 0.5;
  }

  100% {
    /*-webkit-transform: translate3d(0,0,0);*/
    opacity: 1;
  }
}

.fade {
  -webkit-animation: fade ease 1s;
  animation: fade ease 1s;
  /*-webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;*/
}

.landingpage-orange-bg {
  /*background-color: #f48231 !important;*/
  background-color: rgba(244, 130, 49, 0.34);
  /*color: white !important;*/
}

.landingpage-orange-on-white-bg {
  color: #f48231 !important;
  background-color: white !important;
}

.landingpage-bolder-text {
  font-weight: bolder !important;
}

.landingpage-white-bg {
  background-color: white !important;
}

#information-page p, #information-page span,
#history p, #history span {
  font-size: 12px;
  white-space: initial;
}

.white-text {
  color: white;
}

.dark-bg {
  background-color: #262626;
}

.orange-bg {
  background-color: #f48231;
}

.italic-text {
  font-style: italic;
}

ul.dropdown-menu li {
  padding: 5px 0;
  border-bottom: 1px solid;
  border-bottom-color: rgba(244, 130, 49, 0.34);
}

ul.dropdown-menu li:last-child {
  padding: 5px 0;
  border-bottom: none;
}

.result-rating i {
  color: #f48231;
}

.is-alternative {
  white-space: initial;
  background-color: #ddd;
  font-size: 12px;
}

.is-alternative img {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
}
