/* Empty. Add your own CSS if you like */
.dropdown-menu {
  padding-left: 15px;
  margin-top: 10px;
}

.confirm-button-fixed-bottom {
  position: fixed;
  bottom: 50px;
}

.result-rating span {
  display: none;
}

ion-content {
  background-image: url('../img/stripe-50opac.png');
}

.item-icon-left-large {
  padding-left: 64px;
}

.about-page-heading {
  color: #56646e;
  text-align: center;
}

.about-page-heading span {
  color: #f48231;
}

.about-page-subheading {
  color: #f48231;
}

.home-page-tile {
  width: 100%;
}

div label .search-item, div input .search-item {
  width: 100%;
  padding: 0 12px;
  min-width: 52px;
  min-height: 47px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #f48231;
}

.round-border-radius {
  border-radius: 4px;
}

.margin-top-12 {
  margin-top: 12px;
}

.round-border-radius-top {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.round-border-radius-bottom {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

