/* Empty. Add your own CSS if you like */
.dropdown-menu {
  padding-left: 15px;
  margin-top: 10px;
}

.confirm-button-fixed-bottom {
  position: fixed;
  bottom: 50px;
}

.result-rating span {
  display: none;
}

ion-content {
  background-image: url('../img/stripe-50opac.png');
}

.item-icon-left-large {
  padding-left: 64px;
}

.about-page-heading {
  color: #56646e;
  text-align: center;
}

.about-page-heading span {
  color: #f48231;
}

.about-page-subheading {
  color: #f48231;
}

.home-page-tile {
  width: 100%;
}


